/*Folha de Estilo CSS PURO*/

body{
    text-align: justify;
    text-indent: 50px;
    background: url("../img/background.jpg") no-repeat -200px -50px;
}

#corpo{
    text-align: center;
    background-color: rgba(94,93,93,0.7);
    width: 1000px;
    height: 580px;
    border-radius: 2%;
    margin-top: 20px;
}

input{
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-top: 2%;
/*
    background-color: #000000;
    color: #fffff;
*/
 /*   
    background-color: transparent;
    border: 1px solid #000000;
    color: #ffffff;
    box-shadow: 1px 1px 1px black;
*/
}



#rodape{
    background-color: #5E5D5D;
    height: 50px;
    margin-top: 63px;
    margin-right: 1526px;
    margin-left: -10px;
}

#cavera{
    width: 340px;
    border-radius: 500px;
    margin-top: 30px;
    margin-left: -20px;
}

#botao{
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
}

#letra{
    left: 565px;
    position: absolute;
    margin-top: 50px;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
